body	{
	background-color: green;
}

p	{
	font-size: 10px;
}

h1	{
	background-color: pink;
}

.center	{
	text-align: center;
}

div	{
	background-color: yellow;
	padding-top: 100px;
	font-size: 2em;
}




@media (min-width: 768px)	{
	div	{
		background-color: purple;
		padding-top: 100px;
		font-size: 3em;
	}
}

@media (min-width: 1180px)	{
	.container	{
		margin: 0 auto;
		width: 1160px;
	}
}

